* {
  margin: 100;
  padding: 100;
}

h1 .center {
  text-align: center;
  width: 50%
}

img {
  align-items: center;
  width: 600px
}

body {
  width: 50%;
  height: 100%;
  margin: 0;
  text-align: center;
}

footer {
  background-color: red;
}
  
div {
  display: inline-block;
  align-content: space-between;
}